* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

:root {
  --clr-dark: #070a13;
  --clr-light: #f1f5f9;
  --clr-slate400: #94a3b8;
  --clr-slate600: #475569;
  --clr-slate800: #1e293b;
  --clr-rose: #e11d48;
  --clr-indigo: #4f46e5;

  /* rose rgb(255, 29, 72) */
  /* rose rgb(79, 70, 288) */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "General Sans";
  height: calc(100vh - 90px);
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.bg-image {
  height: 100vh;
  width: 100vw;
  background-image: url("../public/saturn.jpg");
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover; 
  filter: blur(4px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

a {
  color: var(--clr-rose);
}

strong {
  color: var(--clr-indigo);
}
